{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Bienvenue sur notre site !</h1>
    {% if user.is_authenticated %}
      <p class="lead">Bonjour, {{ user.username }} ! Vous êtes connecté.</p>
      <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Se déconnecter</a>
    {% else %}
      <p class="lead">Connectez-vous pour accéder à davantage de fonctionnalités.</p>
      <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Se connecter</a>
      <a class="btn btn-secondary btn-lg" href="{% url 'register' %}" role="button">S'inscrire</a>
    {% endif %}
  </div>
{% endblock %}
